{% extends "base.html" %}

{% load static %}

{% block contentarea %}
<div class="content-area">
    <main class="main-content-area">
        <section class="section-padding" id='key-style'>
            <div class="key-feature-container">
                <div class="key-feature-max-container">
                    <div class="key-feature crypto-txt-title-small">
                        <H6>Key Features and Advantages</H6>
                        <p>
                            Our Advantage Low supply, Community based yieldfarming protocols, There are a thousand junks
                            out there with
                            bogus promises. XOXO has so much advantage over them all.
                        </p>
                    </div>
                </div>
            </div>
            <div class="max-width-container">
                <div class="key-feature-info">
                    <div class="main-feature-banner">
                        <div class="main-feature-disc">
                            <h5>XOXO finance is a Farming tokens locked in locking contract. </h5>
                            <img src="{%static '/img/locked-version.png' %}" alt="">
                        </div>
                        <p>
                            15000 XOXO locked for Farming pool.
                        </p>
                    </div>

                    <div class="main-feature-banner">

                        <div class="main-feature-disc">
                            <h5>Staking tokens locked in staking contract. </h5>
                            <img src="{% static '/img/locked.png' %}" alt="">
                        </div>
                        <p>
                            20000 XOXO to be rewarded to stakers.
                        </p>
                    </div>

                    <div class="main-feature-banner">
                        <div class="main-feature-disc">
                            <h5>Uniswap Liquidity tokens locked on Unicrypt. </h5>
                            <img src="{% static '/img/Unicrypt-Uniswap.png' %}" alt="">
                        </div>
                        <p>
                            100% Locked tokens for 10 years.
                        </p>
                    </div>

                    <div class="main-feature-banner">

                        <div class="main-feature-disc">
                            <h5>Listing on Exchanges </h5>
                            <img src="{% static '/img/exchange.png' %}" alt="">
                        </div>
                        <p>
                            XOXO token to be listed in top exchanges after presale.
                        </p>
                    </div>
                </div>
            </div>

            <div class="key-style-title crypto-txt-title-small">
                <p class="find-us">PARTNERS</p>
                <div class="key-style-title-img">
                    <!-- <button data-modal-target="#modal">Open Modal</button> -->
                    <div class="modal" id="modal">
                        <div class="modal-header">
                            <h1 class="title">Coming Soon</h1>
                        </div>
                    </div>
                    <div id="overlay"></div>
                    <img class="uni-swap" src="{% static 'img/uniswap-logo.png' %}" alt="">
                    <img class="uni-swap" src="{% static 'img/gecko.png' %}" alt="">
                    <img class="uni-swap" src="{% static 'img/parceiros_etherscan.png' %}" alt="">
                    <img class="uni-swap" src="{% static 'img/hotbit.png' %}" alt="">
                </div>
            </div>
        </section>
        <!-- -------------- ABOUT US --------------------- -->
        <section class="section-padding">
            <div class="max-width-container">
                <div class="about-container-max">
                    <H5 class='about'>ABOUT US</H5>
                    <h1>What is XOXO FINANCE? </h1>
                    <p class="about-info">
                        XOXO is the native utility token utilized within the Defi application. Decentralized in
                        nature, XOXO will have its various use cases in the financial ecosystem and platform. Users can
                        lock their
                        XOXO tokens for dividends
                        or discounts.
                    </p>
                </div>
            </div>
        </section>

        <!-- --------TOKEN SECTION--------------- -->
        <section class="section-padding" id="token-distrubtion">
            <div class="max-width-container">
                <div class="token-dis">
                    <h2>Tokenomics</h2>
                    <img class="token-img" src="{% static 'img/token-img.png' %}" alt="">
                </div>
            </div>
        </section>
        <!-- -------------------------ROAD  MAP --------------------- -->
        <section id="road-map" class="section-padding">
            <div class="max-width-container">
                <div class="rm-inner-container">
                    <h3>ROAD MAP</h3>
                    <ul class="rm-details-outter">
                        <div class="rm-details-innner">
                            <i class="fas fa-project-diagram fa-2x"></i>
                            <h3>Q4 2020</h3>
                            <div class='rm-details-section'>
                                <li>Project Conceptualization of XOXO finance</li>
                                <li>Core Team Formation</li>
                            </div>
                        </div>
                        <div class="rm-details-innner">
                            <i class="fas fa-globe fa-2x"></i>
                            <h3>Q1 2021</h3>
                            <div class='rm-details-section'>
                                <li>Public and Pre Sale</li>
                                <li>Website and Whitepaper Building</li>
                                <li>Community Building</li>
                                <li>XOXO finance started trading on HOTBIT.</li>
                                <li>Uniswap Listing</li>
                            </div>
                        </div>
                        <div class="rm-details-innner">
                            <i class="fas fa-link fa-2x"></i>
                            <h3>Q2 2021</h3>
                            <div class='rm-details-section'>
                                <li>Initial Partnerships</li>
                                <li>XOXO finance Airdrops</li>
                                <li>Technical whitepaper</li>
                                <li>XOXO finance destop app (GUI) launch</li>
                            </div>
                        </div>
                        <div class="rm-details-innner">
                            <i class="fab fa-connectdevelop fa-2x"></i>
                            <h3>Q3 2021</h3>
                            <div class='rm-details-section'>
                                <li>Release time-based native staking pool</li>
                                <li>Begin decentralized governance protocol on the XOXO network</li>
                                <li>Contract connection with web platform</li>
                            </div>
                        </div>
                        <div class="rm-details-innner">
                            <i class="far fa-paper-plane fa-2x"></i>
                            <h3>Q4 2021</h3>
                            <div class='rm-details-section'>
                                <li>More Partnerships</li>
                                <li>Website Improvements</li>
                                <li>XOXO finance listed on CoinGecko</li>
                                <li>Adding more pools</li>
                            </div>
                        </div>

                    </ul>
                </div>
        </section>
        <!-- ------------- CONTACT US ------------- -->
        <section id="contact" class="section-padding">
            <div class="max-width-container">
                <div class="contact-container">
                    <div class='team-outer-container'>
                        <h1>TEAM PLAYERS</h1>
                        <div class='team-in-container'>
                            <div class="team-col">
                                <img src="{% static 'img/t1.png' %}" alt="">
                                <h4>Jan Anatoly</h4>
                                <h4>Smart Contract Dev</h4>
                            </div>
                            <div class="team-col">
                                <img src="{% static 'img/t2.png' %}" alt="">
                                <h4>Alex Wong</h4>
                                <h4>Front-end Developer</h4>
                            </div>

                            <div class="team-col">
                                <img src="{% static 'img/t3.png' %}" alt="">
                                <h4>Kelvin Peterson</h4>
                                <h4>Back-end Developer</h4>
                            </div>
                            <div class="team-col">
                                <img src="{% static 'img/t4.png' %}" alt="">
                                <h4>Sam Wright Moore</h4>
                                <h4>Marketing Specialist</h4>
                            </div>
                        </div>
                    </div>
                    <form id="form-container">
                        {% csrf_token %}
                        <div class='form-banner'>
                            <H2 class='contact-msg'>CONTACT US</H2>
                            <p>Want to get in touch? Just drop us a message</p>
                        </div>

                        <div class="form-user-col">
                            <div class="form-name-area">
                                <label for="name">Your Name</label>
                                <input type="text" id="name">
                            </div>

                            <div class="form-email-area">
                                <label for="email">Your Email</label>
                                <input type="text" id="email" required>
                            </div>
                        </div>

                        <div class="form-send-off">
                            <label for="lname">Your Message</label>
                            <textarea id="message-box" cols="30" rows="8"></textarea>
                            <div id="successful">
                                <button class="send" type="submit">SEND<img src="{% static 'img/arrow.png' %}"
                                        alt=""></button>
                                <div id="success-box">
                                    <p id="message">We have<Strong> successfully</Strong> received your message.
                                        We'll get
                                        back to you soon.
                                    </p>
                                    <li class="fa fa-times" aria-hidden="true" alt="" id="image-close"></li>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock contentarea %}
