*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 300px;
  height:200px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.close-button {
    align-self: flex-start;
    padding: 10px;
}

.modal-body {
  padding: 10px 15px;
  color: black;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* ----------- DEFAULT SETTING ------------- */
* {
  margin: 0px;
}
a {
  text-decoration: none;
}
body {
  color: black;
margin: 0px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  padding: 0px;
}
input,
label {
  display: block;
  width: 100%;
}
.fas,
.fab,
.far {
  color: #f1c40f;
}
#body-scroll {
  font-size: 45px;
  position: fixed;
}
.section-padding {
  padding: 1em;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1)),
    url('/static/img/background-img.png') center no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader > img {
  width: 50px;
}
.loader.hidden {
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  100% {
    opacity: 1;
    visibility: hidden;
  }
}
/* -------------- PARTICLES ----------------- */
#particles-js {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}
/* ----------------- HEADER --------------------- */
#site-header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1)),
    url('/static/img/background-img.png') center no-repeat;
  background-size: cover;
  filter: brightness(1.5) opacity(0.98) saturate(1.1);
}
#site-header ul {
  display: flex;
  list-style: none;
  color: #fafafa;
  margin: 0px;
  padding-inline-start: 0px;
}
.top-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.top-links i:hover {
  padding: 0.01rem 0.4rem;
  border: 1px solid rgba(245, 255, 250, 0.055);
  color: black;
}

.top-link-logo {
  transition: all 0.3s;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}
.top-link-logo li:nth-child(1) img {
  transition: all 0.3s;
  width: 25px;
}
.top-link-logo li:nth-child(2) img {
  transition: all 0.3s;
  width: 90px;
}
.top-link-url {
  display: none;
}
.top-link-url.active {
  display: block;
  transition: 0.2s all;
}

.top-link-url li {
  font-weight: 500;
  font-size: 0.8em;
  padding: 1rem 0rem 1rem;
}
.top-link-url li:hover {
  color: aquamarine;
  background-color: rgba(153, 16, 216, 0.014);
}
.main-crypto {
  display: flex;
  flex-direction: column;
  padding: 6em 0em 1em;
}
#toogle-nav {
  position: absolute;
  right: 2rem;
  top: 1.7rem;
  color: #fff;
  display: flex;
  height: 10px;
  flex-direction: column;
  justify-content: space-between;
}
#toogle-nav span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
}
.launch-btn-txt {
  border: 2px solid rgba(153, 16, 216, 0.664);
  border-radius: 40px;
  font-size: 14px;
  padding: 9px 0px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  background-origin: border-box;
}
.launch-btn-txt:hover {
  border: 2px solid rgba(153, 16, 216, 0.014);
}

@media screen and (min-width: 768px) {
  .main-crypto p {
    width: 75%;
  }
}
@media screen and (min-width: 1022px) {
  .top-link-url.active {
    display: flex;
  }
  .top-links {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .top-link-url {
    display: flex;
    flex-basis: 550px;
    justify-content: space-between;
  }
  .top-link-url li {
    padding: 0.5rem;
    align-self: flex-start;
  }
  #toogle-nav {
    display: none;
  }
  .top-link-logo {
    width: 130px;
  }
  .top-link-logo li:nth-child(1) img {
        width: 45px;
  }
  .top-link-logo li:nth-child(2) img {
    width: 130px;
  }
  .launch-btn-txt {
    border: 2px solid rgba(153, 16, 216, 0.664);
    font-size: 14px;
    width: 100px;
  }
}
/* ---------- MAIN CONTENT AREA --------- */
.main-content-area {
  /* padding:1em; */
}
/* --------- MAIN CASE ---------- */
#main-case {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.crypto-txt-title-small {
  color: white;
  transition: 0.3s all;
  font-size: 1em;
  text-align: justify;
}
.crypto-txt-title-small-h1 h1 {
  color: #fff;
  font-size: 7vw;
  width: 100%;
  font-weight: 4rem;
  text-align: left;
  transition: 0.2s all;
  font-family: 'Helvetica-Neue' serif;
}
.crypto-txt-title-small-p p {
  margin-bottom: 1em;
  color: #6c757d;
  text-align: left;
}
.outter-buy-defi-title img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.outter-buy-defi-title {
  transition: 0.3s all;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.max-width-container {
  display: flex;
  justify-content: center;
}
.buy-defi-title {
  transition: 0.3s all;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 150px;
}
.buy-defi-title a {
  border: 1px solid rgba(153, 16, 216, 0.2);
  display: block;
  padding: 1em;
  white-space: nowrap;
  border-radius: 50px;
  color: white;
  font-weight: normal;
  font-size: 16px;
  transition: 0.3s all;
  box-sizing: border-box;
}

.buy-defi-title a:nth-child(1) {
  background-color: #be5504;
}
.buy-defi-title a:nth-child(1):hover {
  background-color: #a856172d;
}
.buy-defi-title a:hover {
  color: #d4ccc5;
}

.buy-defi-title a:nth-child(2):hover {
  background-color: #d4ccc5;
  color: #01060b;
}
@media screen and (min-width: 768px) {
  .crypto-txt-title-small-h1 h1 {
    font-size: 5vw;
    width: 70%;
  }
  .buy-defi-title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 450px;
    flex-wrap: wrap;
  }
  .outter-buy-defi-title {
    flex-direction: row;
    flex-basis: 1400px;
  }
  .outter-buy-defi-title p {
    flex: 1;
  }
}
/* ------------SECTION KEYSTYLE----------- */
#key-style {
  background-image: linear-gradient(
    to bottom,
    #040405,
    #0c0d10,
    #121317,
    #17191d,
    #1a1e24
  );
}
.key-feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.key-feature h6 {
  align-self: flex-start;
  padding: 0rem 0.5rem;
  text-align: center;
  background: rgba(163, 92, 196, 0.39);
  border-radius: 210px;
  margin-bottom: 10px;
}
.main-feature-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 8px;
  color: white;
  height: 13rem;
  padding: 2rem;
  background-color: #01060b;
  box-sizing: border-box;
  box-shadow: rgba(14, 13, 13, 0.5) 0px 3px 3px 0px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.main-feature-banner p {
  color: #6c757d;
  font-size: 0.7em;
}
.main-feature-disc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.main-feature-disc h5 {
  width: 60%;
  box-sizing: border-box;
}
.main-feature-disc img {
  width: 100%;
  max-width: 40px;
  box-sizing: border-box;
}
@media screen and (min-width: 514px) {
  .key-feature-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main-feature-banner {
    width: 49%;
  }
}
@media screen and (min-width: 768px) {
  .key-feature-info {
    flex-basis: 1400px;
  }
  .section-padding {
    padding: 2rem;
  }
  .main-feature-banner {
    max-width: 24%;
    padding: 2rem;
  }
  .main-feature-banner:hover {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(1.04, 1.04);
    opacity: 1;
    cursor: pointer;
  }
}
@media screen and (min-width: 1200px) {
  .key-feature-container {
    display: flex;
    justify-content: center;
  }
  .main-crypto {
    flex-basis: 1400px;
  }
  .key-feature-max-container {
    display: flex;
    flex-basis: 1400px;
  }
}
.key-style-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.1em;
  font-family: 'Rakkas', cursive;
  font-weight: bold;
}
.key-style-title-img {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}
.key-style-title-img img {
  display: flex;
  width: 120px;
}

.find-us {
  transition: all 0.3s;
  word-spacing: 4px;
}
.hide {
  display: none;
}
    


.key-style-title-img img:hover + .hide{
    
        display: flex;
    flex-direction: column;
        color: red;
    
}
 

@media screen and (min-width: 768px) {
  .find-us {
    font-size: 1.5em;
  }
  .key-style-title-img img {
    width: 220px;
  }
}
/* ------------- ABOUT US ---------- */
.about-container h1 {
  font-size: 8vw;
  max-width: 300px;
  white-space: nowrap;
}
.about {
  width: 6rem;
  display: flex;
  justify-content: space-between;
  padding: 6rem 0rem 1rem;
}
.about::before {
  content: '';
  width: 20px;
  height: 3px;
  background-color: #ee1c50;
}
.about-info {
  width: 70%;
  text-align: center;
  padding: 1rem 0rem 6rem;
}
.about-container-max {
  display: flex;
  flex-basis: 1400px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 411px) {
  .about-container h1 {
    font-size: 2em;
  }
}

/* ------------- ROAD MAP ------------- */
#road-map {
  background-color: #fff;
}
.rm-inner-container {
  padding: 6em 0em 6em;
  flex-basis: 1400px;
}
.rm-inner-container ul {
  list-style-type: disc;
}
.rm-inner-container h3:nth-child(1) {
  text-align: center;
  font-size: 2em;
}
.rm-details-outter {
  display: flex;
  flex-direction: column;
}
.rm-details-innner {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
  box-sizing: border-box;
  align-items: center;
  min-height: 160;
  justify-content: space-between;
}
.rm-details-section {
  align-self: flex-start;
}
@media screen and (min-width: 768px) {
  .rm-details-outter {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .rm-details-innner {
    flex-basis: 45%;
  }
}
@media screen and (min-width: 1022px) {
  .rm-details-outter {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .rm-details-innner {
    flex-grow: 1;
    align-items: space-between;
    flex-basis: 28%;
    margin-right: 30px;
  }
}
/* ----------Token SECTION ------------ */
#token-distrubtion {
  background-image: linear-gradient(
    to bottom,
    #040405,
    #0c0d10,
    #121317,
    #17191d,
    #1a1e24
  );
}
.token-img {
  width: 100%;
  max-width: 600px;
}
.token-dis {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}
.token-dis h2 {
  padding: 0rem 0rem 4rem 0rem;
  font-size: 8vw;
  text-align: center;
}
@media screen and (min-width: 411px) {
  .token-dis h2 {
    font-size: 2em;
  }
}
.token-bullets {
  padding: 4rem 0rem 0rem 0rem;
}
.token-dis ul {
  margin: 0px;
  padding-inline-start: 0px;
}
ul.token-bullets li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.token-bullets span {
  border-radius: 50%;
  padding: 6px;
  background: transparent;
}
.token-bullets li:nth-child(1) span {
  border: 4px solid #34495e;
}
.token-bullets li:nth-child(2) span {
  border: 4px solid #d4ccc5;
}
.token-bullets li:nth-child(3) span {
  border: 4px solid #f1c40f;
}
.token-bullets li:nth-child(4) span {
  border: 4px solid #949fb1;
}
@media only screen and (min-width: 769px) {
  .token-dis {
    flex-basis: 1400px;
  }
  .token-bullets {
    padding: 0rem;
  }
}
/* ------------  CONTACT US SECTION ------------ */
#contact {
  background-color: #fafafa;
}
#form-container {
  width: 100%;
  margin-bottom: 20px;
  padding: 2rem 0rem 2rem;
}
.form-banner {
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
input[type='text'] {
  padding: 10px;
  height: 2.7rem;
  border-radius: 6px;
  border: 1px solid rgba(153, 16, 216, 0.2);
}
textarea {
  border-radius: 6px;
  border: 1px solid rgba(153, 16, 216, 0.2);
  resize: none;
  padding: 10px;
  width: 100%;
}

button[type='submit'] {
  width: 8rem;
  height: 2.6rem;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(153, 16, 216, 0.2);
  border: 1px solid rgba(153, 16, 216, 0.2);
  transition: width 0.5s;
}
button img {
  width: 30px;
  display: none;
}
button.send:hover img {
  display: block;
}
button.send:hover {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#successful {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem 0rem;
}
#success-box {
  display: none;
  background-color: #90ee90;
  padding: 10px 10px;
  border-radius: 6px;
}
#success-box li {
  padding: 10px 20px;
}
.contact-container {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .form-name-area {
    width: 45%;
  }
  .form-email-area {
    width: 45%;
  }
  .form-user-col {
    display: flex;
    justify-content: space-between;
  }
  #successful {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #message {
    width: 300px;
  }
}
@media only screen and (min-width: 1022px) {
  .section-padding {
    padding: 2rem 3rem;
  }
  #form-container {
    flex-basis: 45%;
  }
  #message {
    width: 200px;
  }
  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 1400px;
  }
}
.scrolling-active {
  background-color: #fafafa;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
/* -------------- OUR TEAM ============== */

.team-outer-container img {
  width: 100px;
  border-radius: 50%;
}
.team-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 200px;
}
.team-col img:hover {
  filter: grayscale(1);
}
@media screen and (min-width: 375px) {
  .team-in-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team-col {
    flex-basis: 45%;
  }
}
/* --------------- ALL FOOTER -------------- */
.site-footer {
  color: #acacac;
  min-height: 110px;
  background-image: linear-gradient(
    to bottom,
    #040405,
    #0c0d10,
    #121317,
    #17191d,
    #1a1e24
  );
}
.inner-footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  list-style-type: none;
  padding-inline-start: 0px;
  height: 100%;
}
.footer-social {
  display: flex;
}
.footer-social li img {
  width: 50px;
}
@media screen and (min-width: 768px) {
  .inner-footer {
    flex-direction: row;
    flex-basis: 1400px;
  }
}
